<!DOCTYPE html>
<html>
<head>
  <title>Coverflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "/demo_assets/ContentFlow/contentflow_src.js", :load => "lightbox black" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
